[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = '>=1.17.42'

[packages]
PyGithub = "*"
"PyGithub[Integrations]" = "*"
"pyjwt[crypto]" = "*"
wrapt = "*"
src = {editable = true, path = "./src"}

[requires]
python_version = "3.8"
